<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        div{
            padding:50px;
        }
    </style>

</head>
<body>
    <div>
        <h1>This is web home heading</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem enim exercitationem ipsum, natus quas repudiandae
            veniam? Alias aperiam assumenda culpa delectus deleniti dicta dolorum et, fuga hic id itaque iusto maiores
            minima minus molestias neque non obcaecati officiis pariatur perspiciatis porro possimus quae quaerat quisquam
            reprehenderit sint temporibus vero voluptate.</p>
    </div>
</body>
</html>